nav#header.navbar.navbar-dark.w-100.d-flex.jc-between
  a(href="index.html")
    img.img.img-fluid(src="./dist/media/logo/logo-positivo-png.png" style="width: 50px")
  a(href="#")
    i.fa.fa-bars.fa-2x.text-elegant.text-gray-hover.transition