nav#header.navbar.navbar-dark.w-100.d-flex.jc-between
  a.w-5(href="#")
    img.img.img-fluid.w-50(src="./dist/media/logo/logo-positivo-png.png")
  a(href="#")
    i.fa.fa-bars.fa-2x.text-elegant.text-gray-hover.transition