nav#header.navbar.navbar-dark.w-100.d-flex.jc-between
  a(href="https://jftorresh.github.io/portfolio/")
    img.img.img-fluid(src="./dist/media/logo/logo-positivo-png.png" style="width: 50px")/
  a(href="#")#open-menu
    .bars-open
      div
      div
      div