.menu.bg-menu#menu
  .header
    .container-fluid
      .row
        .col-md-12.jc-between
          nav.navbar.navbar-dark.w-100.d-flex.jc-between#header
            a(href="https://jftorresh.github.io/portfolio/")
              img.img.img-fluid(src="./dist/media/logo/logo-negativo-png.png" style="width: 50px;")/
            a(href="#")#close-menu
              i.fa.fa-times.fa-2x.text-header.scale-1-1-hover.transition
  .menu-items
    .container-fluid
      .row
        .col.m-auto.text-center
          ul.list-unstyled.list-lnks
            li.link-item: a(href="#") Inicio
            li.link-item: a(href="#") Proyectos
            li.link-item: a(href="#") Acerca de
            li.link-item: a(href="#") Contactame
      .row.text-header
        .col-md-12.col-lg-10.m-auto
          .row
            .offset-lg-1.col-md-4
              h5 Lorem Ipsum
              .sub-light
              ul.list-unstyled.text-left.pt-4
                li perspiciatis rerum rerum
                li et consequatur sit
                li est repudiandae enim
            .col-md-4
              h5 Dolor sit
              .sub-light
              ul.list-unstyled.text-left.pt-4
                li harum voluptatem ex
                li quod consequuntur pariatur
                li enim veritatis magnam
            .col-lg-3.col-md-4
              h5 Amet Consectetur
              .sub-light
              ul.list-unstyled.text-left.pt-4
                li minima vero et
                li quia dolorum commodi
                li possimus ut magni