<!DOCTYPE html>
<html>
  <head>
    <title>Contacto | Jorge Torres
    </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="author" content="jftorresh"/>
    <meta name="robots" content="all"/>
    <meta name="keywords" content="Portfolio, Portafolio, Jorge, Fernando, Torres, Holguin, Architecture, Arquitectura, inclusion, Social, Design"/>
    <meta name="description" content="Jorge Torres | Portolio Web"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:title" content="Jorge Torres | Portfolio"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="jftorresh.github.io/portfolio/"/>
    <meta property="og:image" content="./dist/media/logo/logo-positivo.png"/>
    <meta property="og:description" content="David Torres | Portfolio Web"/>
    <meta property="og:site_name" content="David Torres | Portfolio Web"/>
    <link rel="shorcut icon" type="image/png" href="./dist/media/logo/logo-positivo.png"/>
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./dist/css/bootstraplus.min.css" rel="stylesheet"/>
    <link href="./dist/css/styles.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="d-flex jc-center ai-center w-100 vh-100 overflow-hidden" id="preloader">
      <div class="text-center"><img class="img img-fluid w-25" src="./dist/media/logo/logo-negativo-png.png"/>
        <div class="loader mt-50"></div>
      </div>
    </div>
    <div id="wrap-wrap">
      <div class="menu bg-menu" id="menu">
        <div class="header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 jc-between">
                <nav class="navbar navbar-dark w-100 d-flex jc-between" id="header"><a href="https://jftorresh.github.io/portfolio/"><img class="img img-fluid" src="./dist/media/logo/logo-negativo-png.png" style="width: 50px;"/></a><a href="#" id="close-menu">
                    <div class="bars-close">
                      <div></div>
                      <div></div>
                    </div></a></nav>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-items">
          <div class="container-fluid">
            <div class="row">
              <div class="col m-auto text-center">
                <ul class="list-unstyled list-lnks">
                  <li class="link-item"><a href="https://jftorresh.github.io/portfolio/">Inicio</a></li>
                  <li class="link-item"><a href="https://jftorresh.github.io/portfolio/projects.html">Proyectos</a></li>
                  <li class="link-item"><a href="https://jftorresh.github.io/portfolio/about.html">Acerca de</a></li>
                  <li class="link-item"><a href="https://jftorresh.github.io/portfolio/contact.html">Contactame</a></li>
                </ul>
              </div>
            </div>
            <div class="row text-header">
              <div class="col-md-12 col-lg-10 m-auto">
                <div class="row">
                  <div class="offset-lg-1 col-md-4">
                    <h5>Lorem Ipsum</h5>
                    <div class="sub-light"></div>
                    <ul class="list-unstyled text-left pt-4">
                      <li>perspiciatis rerum rerum</li>
                      <li>et consequatur sit</li>
                      <li>est repudiandae enim</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <h5>Dolor sit</h5>
                    <div class="sub-light"></div>
                    <ul class="list-unstyled text-left pt-4">
                      <li>harum voluptatem ex</li>
                      <li>quod consequuntur pariatur</li>
                      <li>enim veritatis magnam</li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-4">
                    <h5>Amet Consectetur</h5>
                    <div class="sub-light"></div>
                    <ul class="list-unstyled text-left pt-4">
                      <li>minima vero et</li>
                      <li>quia dolorum commodi</li>
                      <li>possimus ut magni</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <header>
        <nav class="navbar navbar-dark w-100 d-flex jc-between" id="header"><a href="https://jftorresh.github.io/portfolio/"><img class="img img-fluid" src="./dist/media/logo/logo-positivo-png.png" style="width: 50px"/></a><a href="#" id="open-menu">
            <div class="bars-open">
              <div></div>
              <div></div>
              <div></div>
            </div></a></nav>
      </header>
      <main>
        <section id="contact">
          <div class="container-fluid">
            <div class="row">
              <div class="offset-lg-1 col-lg-10 col-12">
                <div class="row">
                  <div class="offset-md-1 col-md-3 d-flex jc-start ai-end">
                    <div>
                      <div class="row">
                        <div class="col-12">
                          <h5>Lorem ipsum</h5>
                          <div class="sub-dark"></div>
                          <ul class="list-unstyled text-left pt-4">
                            <li>ipsum eius eveniet</li>
                            <li>nam inventore cum</li>
                            <li>dolores velit earum</li>
                          </ul>
                        </div>
                        <div class="col-12">
                          <h5>Lorem ipsum</h5>
                          <div class="sub-dark"></div>
                          <ul class="list-unstyled text-left pt-4">
                            <li>ipsum eius eveniet</li>
                            <li>nam inventore cum</li>
                            <li>dolores velit earum</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 bg-gray-light p-0 m-0 d-flex ai-end"><img class="img img-fluid" src="./dist/media/photos/profile_8-png.png"/></div>
                  <div class="col-md-4 d-flex ai-center p-md-5" id="contact-form-group">
                    <form id="contact-form-group--form" class="w-100" action="https://formspree.io/maypndqj" method="POST" autocomplete="off">
                      <div class="form-item mt-3">
                        <input id="name" type="text" name="name" required>
                        <label for="name">Nombre Completo:</label>
                      </div>
                      <div class="form-item mt-3">
                        <input id="email" type="text" name="replyto" required>
                        <label for="replyto">Correo Electronico:</label>
                      </div>
                      <div class="form-item mt-3">
                        <textarea id="message" name="message" required></textarea>
                        <label for="message">Tu mensaje:</label>
                      </div>
                      <div class="form-item mt-3">
                        <button class="btn btn-main" id="btn-submit" type="submit">Enviar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="https://kit.fontawesome.com/25f07c253e.js"></script>
    <script src="./dist/js/jquery-3.4.1.min.js"></script>
    <script src="./dist/js/jquery.bez.min.js"></script>
    <script src="./dist/js/lazysizes.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
    <script src="./dist/js/pace.min.js"></script>
    <script src="./dist/js/scripts.js"></script>
  </body>
</html>